@model List<HotelProject.EntityLayer.Concrete.AppUser>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
	int count = 1;
} 
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Bütün İstifadəçilər</h4>
					<div class="table-responsive">
						<table class="table table-striped table-bordered zero-configuration">
							<thead>
								<tr>
									<th>#</th>
									<th>Ad</th>
									<th>Soyad</th>
									<th>E-poçt</th>
									<th>İstifadəçi adı</th>
									<th>Rol Təyinatı</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var user in Model)
								{
									<tr>
										<td>@count</td>
										<td>@user.Name</td>
										<td>@user.Surname</td>
										<td>@user.Email.</td>
										<td>@user.UserName</td>
										<td>
											<a href="/RoleAssign/AssignRole/@user.Id" data-			toggle="tooltip" data-placement="top" title="Rol təyin et">
												<i class="fa fa-clipboard color-danger"></i>
											</a>
										</td>
									</tr>
									count++;
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/adminweb/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="~/adminweb/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="~/adminweb/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
